/*
 * WholeTale Dashboard - Semantic UI
 */

/* Miscellaneous styles */

html, body {
}

body {
  background: #f8f9fa; /* #f5f7f8 #e0e9ee; #d6e1e8; */
}

hr.env-separator {
  margin: 30px 0 20px;
  border-top: #999;
  border-left: #999;
}

.notice {
  font-size: 1.2rem;
  color: #666;
  font-style: italic;
}

.card h3 a {
  color: #333;
}

.qualifier {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.ui.wt-input.input > input {
/*  background:  #ced8df; */
}

.ui.wt-input.input > input::placeholder {
  color: #666;
  opacity: 0.5;
}

/* Navigation - Top Nav */

.ui.inverted.menu.wt-top {
  background: #132f43;
  font-size: 1.1rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui.inverted.menu.wt-top .item {
  color: rgba(255,255,255,0.5);
  letter-spacing: .05rem;
}
.ui.inverted.menu.wt-top .active.item {
  background: transparent;
}
.ui.inverted.menu.wt-top .item::before {
  background: transparent;
  width: 0;
}
.ui.menu.wt-top .item.wt-brand {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
  vertical-align: text-bottom;
  color: #fff;
}
.ui.menu.wt-top .item.wt-brand span {
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding-top: .1rem;
  padding-left: .2rem;
}
.ui.menu.wt-top .item.wt-brand img {
  width: 1.5em;
  margin-right: .5rem;
}



/* Navigation - Launched Tales panel */

.ui.vertical.menu.tales {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.ui.vertical.menu.tales .item:first-child {
  border-top: none;
}

.ui.vertical.menu.tales .item {
  position: relative;
  padding: 1em 1em 1.25em 6em;
  border-left: 4px solid transparent;
  min-height: 6.3rem;
}
.ui.vertical.menu.tales .active.item {
  background: #e8f3fa;
  border-left: 3px solid #2185d0;
}
.ui.vertical.menu.tales .item.active:first-child {
  background: #e8f3fa;
  border-left: 4px solid #2185d0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui.vertical.menu.tales .item:hover {
  background: #e8f3fa;
}

.ui.vertical.menu.tales .item img {
  width: 4rem;
  margin-right: .5rem;
  position: absolute;
  top: 1.5rem;
  left: 1.25rem;
}
.ui.vertical.menu.tales .item img.env {
  width: 3rem;
  position: absolute;
  top: 1rem;
  left: .75rem;
}

.ui.vertical.menu.tales .item i {
  float: right;
  position: relative;
}

.ui.vertical.menu.tales .item p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 1.5rem 0 0;
}


/* Navigation - Environments panel */

.grey-zone {
  padding: 1rem;
  background: #f3f3f3;
}
.grey-zone .ui.input {
  width: 100%;
}

.ui.vertical.menu.envs {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.ui.vertical.menu.tales .item:first-child {
  border-top: none;
}

.ui.vertical.menu.envs .item {
  position: relative;
  padding: 1.25em 1em 1.25em 4.5em;
  border-left: 4px solid transparent;
  min-height: 4.75rem;
}
.ui.vertical.menu.envs .active.item {
  background: #e8f3fa;
  border-left: 3px solid #2185d0;
}
.ui.vertical.menu.envs .item.active:first-child {
  background: #e8f3fa;
  border-left: 4px solid #2185d0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ui.vertical.menu.envs.envs .item:hover {
  background: #e8f3fa;
}

.ui.vertical.menu.envs .item img {
  width: 2.75rem;
  position: absolute;
  top: 1.25rem;
  left: .75rem;
}

.ui.vertical.menu.envs .item i {
  float: right;
  position: relative;
}

.ui.vertical.menu.envs .item p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 1.5rem 0 0;
}



/* Panels - general */

.ui.grid {
}
.ui.grid > .row.dashboard-modes {
  padding-top: 0;
  padding-left: 2rem;
}
.ui.grid > .row.panel-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0;
/*  height: 85vh;  */
}
.ui.grid > .row.panel-container > .column {
  padding-left: .5rem;
  padding-right: .5rem;
}

.wt-panel {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.20);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px rgba(0,0,0,0.075);
  padding: 0;
  height: 100%;
}
.wt-panel.bg-grey {
  background: #f9fafb;
}
.wt-panel:nth-child(2) {
  margin-top: 1rem;
}

.wt-panel .wt-panel-header {
  border-bottom: 1px solid rgba(0,0,0,0.20);
  padding: .8rem 1.6rem;
  letter-spacing: .02rem;
  background: #fff;
  -webkit-border-top-left-radius: 1rem;
  -moz-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
  -moz-border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.wt-panel .wt-panel-header img {
  height: 2.25rem;
  margin: 0 .75rem 0 0;
  float:left;
}
.wt-panel .wt-panel-header span {
  font-size: 1.3rem;
  color: rgba(0,0,0,0.75);
  font-weight: 300;
  font-style: italic;
  letter-spacing: .05rem;
  padding-left: .4rem;
}
.wt-panel .wt-panel-header span.quota {
  color: rgba(0,0,0,0.75);
  float: right;
  position: relative;
  font-size: 1rem;
}
.wt-panel .wt-panel-header i {
  padding-right: .75rem;
}
.wt-panel .wt-panel-header i.right {
  color: rgba(0,0,0,0.6);
  float: right;
  position: relative;
  padding-right: 0;
  padding-top: .35rem;
}

.wt-panel .wt-panel-body {
  padding: 1.5rem 2rem 3rem;
}
.wt-panel .wt-panel-body.bg-grey,
.wt-panel .wt-panel-header.bg-grey {
  background-color: #f9fafb;
}

.wt-panel-body .ui.input {
  width: 100%;
}

.wt-panel .wt-panel-header.tabs {
  border: none;
  padding: 0;
  letter-spacing: 0;
}

.wt-panel .wt-panel-header.tabs .ui.menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-top-left-radius: 1rem;
  -moz-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
  -webkit-border-top-right-radius: 1rem;
  -moz-border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.wt-panel .wt-panel-header.tabs .ui.menu > .item:first-child {
  -webkit-border-top-left-radius: 1rem;
  -moz-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.wt-panel .wt-panel-header.tabs .ui.menu > .item:last-child {
  -webkit-border-top-right-radius: 1rem;
  -moz-border-top-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.wt-panel .wt-panel-header.tabs .ui.menu > .item {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  font-size: 1.2rem;
}
.wt-panel .wt-panel-header.tabs .ui.menu > .item.active {
  border-bottom: transparent;
  font-weight: 600;
}


.placeholder-message {
  text-align: center; 
  padding: 40% 0 40%;
  background: url(../images/wholetale_logo_watermark.png) center center no-repeat;
  background-size: cover;
}
.placeholder-message p {
  color: #283b49;
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: .1rem;
  width: 80%;
  margin: 0 auto 2rem;
}
.placeholder-message p.note-sm {
  font-size: 2.2rem;
  letter-spacing: .05rem;
  line-height: 1.3;
}

.wt-panel .tale-info {
  padding: 1em 0 0;
}
.wt-panel .title-info,
.wt-panel .action-info {
  position: relative;
  padding-left: 4rem;
}
.wt-panel .title-info img {
  width: 3rem;
  margin-right: .5rem;
  position: absolute;
  top: -.25rem;
  left: 0rem;
}
.wt-panel .action-info img {
  width: 3rem;
  height: auto;
  margin-right: .5rem;
  position: absolute;
  top: -.25rem;
  left: 0rem;
}
.wt-panel .title-info img.env {
  width: 2.5rem;
  position: absolute;
  top: -.75rem;
  left: -.5rem;
}
.wt-panel .title-info p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 1.5rem .2rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wt-panel .action-info p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 1.5rem .2rem 0;
}
.wt-panel .title-info p.qualifier,
.wt-panel .action-info p.qualifier {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.wt-panel .actions {
}


/* New Environment form */

.cancel-right {
  float: right;
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
}

.item i {
  padding-right: .5em;
}

.symbol-key {
  font-style: italic;
  color: #333;
  text-align: right;
  margin: 0 0 15px;
}

.ui.form .field > label {
  font-size: 1.0em;
}
.ui.form .field > label span {
  font-style: italic;
  font-weight: 300;
  color: #999;
  letter-spacing: 0.5px;
  padding-left: .5em;
  font-size: 0.9em;
}

a.ui.button.show_less {
  margin-top: 15px;
}

div#id-long h3 {
  margin-bottom: 5px;
}

div#id-long ul {
  list-style-type: none;
  padding-left: 10px;
}

p.status {
  color: #666;
}
p.status span {
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: 600;
  letter-spacing: .5px;
  color: #132f43
}


/* Navigation - Data */

.ui.vertical.menu.dta {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.ui.vertical.menu.dta .item {
  position: relative;
  padding: 1.25em 1em 1.25em 1em;
  border-right: 3px solid transparent;
  min-height: 4.75rem;
  background: #f5f5f5;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 0;
}
.ui.vertical.menu.dta .active.item {
  background: #e8f3fa;
  border-right: 3px solid #2185d0;
  border-radius: 0;
}
.ui.vertical.menu.dta .item:hover {
  background: #e8f3fa;
}
.ui.vertical.menu.dta .item img {
  width: 2.75rem;
  position: absolute;
  top: 1.25rem;
  left: .75rem;
}
.ui.vertical.menu.dta .item span {
  color: #999;
  font-size: 0.9rem;
  font-style: italic;
  padding-left: 5px;
}

.directory-label span {
  font-weight: 600;
  font-size: 1.4rem;
}
.directory-label span:nth-child(2) {
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  color: #666;
  padding-left: 5px;
}

/* Browse Tales */


.ui.card > .image,
.ui.cards > .card > .image {
  height: 180px;
  overflow: hidden;
}

.card h3 {
  margin: 10px 0 5px;
  line-height: 1.2em;
  overflow: hidden;
}

.card .t-title {
  height: 5.5em;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.card .t-title:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}


.dash-intro {
  padding:0;
  font-size: 1.1rem;
}
.dash-intro p.first-para {
  margin-top: 10px;
}
.dash-intro p.jic {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.show_all,
a.show_less {
  cursor: pointer;
}

.wt-dash .header.item.wt-brand {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  vertical-align: text-bottom;
  color: rgba(0,0,0,0.95);
  display: inline-block;
}
.wt-dash .item.wt-brand span:first-child {
  font-size: .9rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding: .1rem .2rem 0;
}

.dash-intro a.show_all,
.dash-intro a.show_less {
  cursor: pointer;
  font-size: 1.2rem;
}

.tale-quota {
  padding: 5px 20px;
  font-style: italic;
}
.more-button {
  padding: 5px 20px;
  text-align: right;
}

.wt-panel.special {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.20);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  box-shadow: 0 0 4px rgba(0,0,0,0.075);
  padding: 0;
  height: 100%;
}
.wt-panel.bg-grey {
  background: #f9fafb;
}

.wt-panel-header.tabs2 {
  background: transparent;
  border: none;
  padding: 15px 0 0 0;
  letter-spacing: 0;
}
.wt-panel-header.tabs2 .ui.tabular.menu  .item {
  font-size: 1.2rem;
}
.wt-panel-header.tabs2 .ui.tabular.menu  .item:first-child {
  margin-left: -;
}
.wt-panel-header.tabs2 .ui.tabular.menu .item.active {
  background: #f9fafb;
}


/* Accordion for Data Catalog */

.ui.styled.accordion .title {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.ui.accordion .title span.data-title {
  font-weight: 600;
  font-size: 1.1em;
}
.ui.accordion .title span.doi {
  color: #999;
}

.ui.styled.accordion .title .label {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 2.5em;
  height: auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: left;
}
.ui.styled.accordion .title .label img {
  width: 100%;
  height: auto;
}

.ui.styled.accordion .title .listing {
  display: block;
  -webkit-box-flex: 1;
  ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: left;
  word-wrap: break-word;
  padding-right: 1.5em;
}

.ui.styled.accordion .title > .label + .listing {
  margin: 0 0 0 1.15em;
}

.ui.styled.accordion .content {
  margin-left: 4.5em;
}

.item.spaced {
  margin-top: 1em;
}

.category {
  text-transform: uppercase;
  color: #ba975e;
  font-weight: 700;
}


.ui.secondary.text.menu.view-toggle {
  margin: 0 -.5em;
}

.ui.secondary.text.menu.view-toggle .item i {
  padding: 0;
  margin: 0;
}


/* Settings */

#settings-menu {
  font-size: 1.2rem;
  margin-top: .75rem;
}

#add-acct {
}

#add-acct .segments {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#add-acct h2 {
  margin-bottom: 0;
}

p.explanation {
  color: #666;
  font-size: 1.1rem;
}

#add-acct .segment p {
  font-size: 1.2rem;
  font-weight: 600;
}

#add-acct .segment button {
  float:right;
}

#add-acct .connected{
  padding: 0 2rem 1.5rem;
}

#add-acct .basic {
  margin: 0;
}

#add-acct .segments .basic p {
  font-size: 1rem;
  font-weight: normal;
}

#add-acct .segments .basic a {
  padding: 0;
}

#add-acct .segment p i.icon {
  font-size: 0.8rem;
  padding-left: .5rem;
  color: #ccc;
}

#add-acct .footnote {
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #999;
}
#add-acct .footnote span {
  margin: 0 1rem;
}




/* MEDIA QUERIES
-------------------------------------------------- */


@media (min-width: 1200px) {
}

@media (min-width: 1600px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 640px) {
.ui.menu .item.no-phone {
    display: none;
  }
}

@media (max-width: 574px) {
}



















